FilePathConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2019 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FilePathConfig">
    <!--This file contains configuration data-->
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DefaultPaths">
          <!--This element Contains default files and directories-->
          <xs:complexType>
            <xs:choice minOccurs="0"  maxOccurs="unbounded" >
              <xs:element name="Directory" type="DirectoryPath" />
              <xs:element name="File" type="FilePath" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:group name="PathGroup">
    <!--A path from a combination of a Base directory and a subdirectory of the base directory-->
    <xs:sequence>
      <xs:element name="BaseDirectory"  minOccurs="1" maxOccurs="1" type="xs:anyURI"/>
      <xs:element name="Folder" minOccurs="0" maxOccurs="1"  type="xs:normalizedString" />
    </xs:sequence>
  </xs:group>

  <xs:group name="FilePathGroup">
    <!--A path from a combination of a Base directory an optional subdirectory and a file name-->
    <xs:sequence>
      <xs:group ref="PathGroup" />
      <xs:element name="FileName"  minOccurs="1" maxOccurs="1"  type="xs:normalizedString"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="FullPathGroup">
    <!--A single full path-->
    <xs:sequence>
      <xs:element name="FullPath"   minOccurs="1" maxOccurs="1" type="xs:anyURI"/>
    </xs:sequence>
  </xs:group>

  <xs:complexType name="DirectoryPath" >
    <!--A Directory definition-->
    <xs:choice minOccurs="1" maxOccurs="1" >
      <!--Full path as a Base directory and a subdirectory of the base directory-->
      <xs:group ref="PathGroup" />
      <!--The directory as a single full path-->
      <xs:group ref="FullPathGroup" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="FilePath" >
    <!--A File Path definition-->
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1" >
        <!--Full path as a Base directory and a subdirectory of the base directory-->
        <xs:group ref="FilePathGroup" />
        <!--The directory as a single full path-->
        <xs:group ref="FullPathGroup" />
      </xs:choice>
      <xs:element name="FileTypes" type="FileTypes"
                  minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <xs:simpleType name="FileExtension">
    <!--A file extension including the initial.-->
    <xs:restriction base="xs:token">
      <xs:pattern value="[.][a-zA-Z0-9_]+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="FileTypeGroup" >
    <!--A Named group of file extensions-->
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="FileType" type="FileExtension"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="FileTypes">
    <!--A collection of file type groups-->
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="FileTypeGroup" type="FileTypeGroup" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>