GUI_Management/GUI_Builder.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2019 (https://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\Tkinter_GUI.xsd" />
    <xs:element name="GuiDefinition">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="VariableSet"
                            minOccurs="0"
                            maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Variable"
                                        type="VariableType"
                                        minOccurs="1"
                                        maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ImageSet"
                            minOccurs="0"
                            maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Image"
                                        minOccurs="1"
                                        maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="name"
                                                  type="xs:string" />
                                    <xs:attribute name="file_path"
                                                  type="xs:anyURI" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CommandSet"
                            minOccurs="0"
                            maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Command"
                                        type="CommandType"
                                        minOccurs="1"
                                        maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="RootWindow"
                            minOccurs="1"
                            maxOccurs="1">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="WindowType">
                                <xs:sequence>
                                    <xs:element name="Window"
                                                type="WindowType"
                                                minOccurs="0"
                                                maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="VariableType">
        <xs:sequence>
            <xs:element name="variable_class"
                        type="xs:string" />
            <xs:element name="data_reference"
                        type="xs:string"
                        minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="name"
                      type="xs:string"
                      use="required" />
    </xs:complexType>
    <xs:complexType name="CommandType">
        <xs:sequence>
            <xs:element name="function"
                        type="xs:string" />
            <xs:element name="PositionalArgs"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence minOccurs="0">
                        <xs:element name="Arg"
                                    type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="KeywordArgs"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:anyAttribute namespace=""
                                     processContents="skip" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name"
                      type="xs:string"
                      use="required" />
    </xs:complexType>
    <xs:element name="WidgetSet">
        <xs:complexType>
            <xs:choice minOccurs="1"
                       maxOccurs="unbounded">
                <xs:element name="WidgetContainer"
                            type="WidgetContainerType"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="EN">The container Widget is for widgets used to store other widgets.
Examples are Frame, LabelFrame and Canvas</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Widget"
                            type="WidgetType"
                            minOccurs="0" />
                <xs:element name="Tree"
                            type="TreeWidget"
                            minOccurs="0" />
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="WindowType">
        <xs:sequence>
            <xs:element name="Settings"
                        type="WindowsSettingsType"
                        minOccurs="0" />
            <xs:element ref="Configure"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element ref="WidgetSet"
                        minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="name"
                      type="xs:string"
                      use="required" />
    </xs:complexType>
    <xs:complexType name="WidgetType">
        <xs:complexContent>
            <xs:extension base="WidgetBasicType">
                <xs:sequence>
                    <xs:element name="Settings">
                        <xs:complexType>
                            <xs:all>
                                <xs:element name="Geometry"
                                            type="WidgetGeometryType" />
                                <xs:element name="Appearance"
                                            type="AppearanceType"
                                            minOccurs="0" />
                                <xs:element name="Bindings"
                                            type="BindingsType"
                                            minOccurs="0" />
                            </xs:all>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="WidgetContainerType">
        <xs:complexContent>
            <xs:extension base="WidgetBasicType">
                <xs:sequence>
                    <xs:element name="Settings">
                        <xs:complexType>
                            <xs:all>
                                <xs:element name="Geometry"
                                            type="WidgetGeometryType" />
                                <xs:element name="GridConfigure"
                                            type="GridConfigureType"
                                            minOccurs="0" />
                                <xs:element name="Appearance"
                                            type="AppearanceType"
                                            minOccurs="0" />
                                <xs:element name="Bindings"
                                            type="BindingsType"
                                            minOccurs="0" />
                            </xs:all>
                        </xs:complexType>
                    </xs:element>
                    <xs:element ref="WidgetSet"
                                minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TreeWidget">
        <xs:complexContent>
            <xs:extension base="WidgetType">
                <xs:sequence>
                    <xs:element name="ColumnSet"
                                minOccurs="0"
                                maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ColumnDef"
                                            minOccurs="1"
                                            maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:attribute name="data_column"
                                                      type="xs:string"
                                                      use="optional" />
                                        <xs:attribute name="tree_column_id"
                                                      type="xs:string"
                                                      use="required" />
                                        <xs:attribute name="header_text"
                                                      type="xs:string"
                                                      use="optional" />
                                        <xs:attribute name="show"
                                                      use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="y" />
                                                    <xs:enumeration value="n" />
                                                    <xs:enumeration value="tree" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="minwidth"
                                                      type="xs:unsignedInt"
                                                      use="optional" />
                                        <xs:attribute name="anchor"
                                                      type="AnchorType"
                                                      use="optional" />
                                        <xs:attribute name="stretch"
                                                      type="xs:boolean"
                                                      use="optional" />
                                        <xs:attribute name="width"
                                                      type="xs:unsignedInt"
                                                      use="optional" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="TagSet"
                                minOccurs="0"
                                maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="tag"
                                            minOccurs="1"
                                            maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:all>
                                            <xs:element name="Appearance"
                                                        type="AppearanceType"
                                                        minOccurs="0" />
                                            <xs:element name="Bindings"
                                                        type="BindingsType"
                                                        minOccurs="0" />
                                        </xs:all>
                                        <xs:attribute name="name"
                                                      type="xs:string"
                                                      use="required" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>