GUI_Management/Tkinter_GUI.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2019 (https://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="StateType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="normal" />
            <xs:enumeration value="iconic" />
            <xs:enumeration value="withdrawn" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StickyType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[nsew]{1,4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnchorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="n" />
            <xs:enumeration value="ne" />
            <xs:enumeration value="e" />
            <xs:enumeration value="se" />
            <xs:enumeration value="s" />
            <xs:enumeration value="sw" />
            <xs:enumeration value="w" />
            <xs:enumeration value="nw" />
            <xs:enumeration value="center" />
        </xs:restriction>
    </xs:simpleType>
<xs:complexType name="AppearanceType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:attribute name="borderwidth"
                  type="xs:unsignedByte"
                  use="optional" />
    <xs:attribute name="relief"
                  type="xs:string"
                  use="optional" />
    <xs:attribute name="background"
                  type="xs:string"
                  use="optional" />
    <xs:attribute name="foreground"
                  type="xs:string"
                  use="optional" />
    <xs:attribute name="image"
                  type="xs:string"
                  use="optional" />
</xs:complexType>
<xs:complexType name="GridConfigureType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:choice maxOccurs="unbounded">
        <xs:element name="ColumnConfigure"
                    minOccurs="0">
            <xs:complexType>
                <xs:attribute name="column"
                              type="xs:unsignedInt" />
                <xs:attribute name="weight"
                              type="xs:unsignedInt"
                              use="required" />
            </xs:complexType>
        </xs:element>
        <xs:element name="RowConfigure"
                    minOccurs="0">
            <xs:complexType>
                <xs:attribute name="row"
                              type="xs:unsignedInt" />
                <xs:attribute name="weight"
                              type="xs:unsignedInt"
                              use="required" />
            </xs:complexType>
        </xs:element>
    </xs:choice>
</xs:complexType>
<!-- Created with Liquid Studio 2019 (https://www.liquid-technologies.com) -->
<xs:complexType name="BindingsType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:sequence>
        <xs:element name="Bind"
                    minOccurs="1"
                    maxOccurs="unbounded">
            <xs:complexType>
                <xs:attribute name="event"
                              type="xs:string"
                              use="required" />
                <xs:attribute name="callback"
                              type="xs:string"
                              use="required" />
                <xs:attribute name="add"
                              type="xs:string"
                              use="optional" />
            </xs:complexType>
        </xs:element>
    </xs:sequence>
</xs:complexType>
<!-- Created with Liquid Studio 2019 (https://www.liquid-technologies.com) -->
<xs:element name="Configure"
            xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Set"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:anyAttribute processContents="skip" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>
</xs:element>
<!-- Created with Liquid Studio 2019 (https://www.liquid-technologies.com) -->
<xs:complexType name="WindowsSettingsType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:sequence>
        <xs:element name="title"
                    type="xs:string"
                    minOccurs="0"
                    maxOccurs="1" />
        <xs:choice minOccurs="0"
                   maxOccurs="1">
            <xs:element name="Fullscreen"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element name="Geometry"
                        type="WindowGeometryType"
                        minOccurs="0"
                        maxOccurs="1" />
        </xs:choice>
        <xs:element name="State"
                    type="StateType"
                    minOccurs="0"
                    maxOccurs="1" />
        <xs:element name="Appearance"
                    type="AppearanceType"
                    minOccurs="0" />
        <xs:element name="GridConfigure"
                    type="GridConfigureType"
                    minOccurs="0" />
    </xs:sequence>
</xs:complexType>
<!-- Created with Liquid Studio 2019 (https://www.liquid-technologies.com) -->
<xs:complexType name="WindowGeometryType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:sequence>
        <xs:element name="Height"
                    type="xs:unsignedInt"
                    minOccurs="0"
                    maxOccurs="1" />
        <xs:element name="Width"
                    type="xs:unsignedInt"
                    minOccurs="0"
                    maxOccurs="1" />
        <xs:element name="Xposition"
                    type="xs:int"
                    minOccurs="0"
                    maxOccurs="1" />
        <xs:element name="Yposition"
                    type="xs:int"
                    minOccurs="0"
                    maxOccurs="1" />
        <xs:element name="Stacking"
                    minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="lift"
                                type="xs:string"
                                minOccurs="0"
                                maxOccurs="1" />
                    <xs:element name="lower"
                                type="xs:string"
                                minOccurs="0"
                                maxOccurs="1" />
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:sequence>
</xs:complexType>
<!-- Created with Liquid Studio 2019 (https://www.liquid-technologies.com) -->
<xs:complexType name="WidgetGeometryType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:sequence>
        <xs:choice>
            <xs:element name="GridPlacement">
                <xs:complexType>
                    <xs:attribute name="column"
                                  type="xs:unsignedInt"
                                  use="required" />
                    <xs:attribute name="row"
                                  type="xs:unsignedInt"
                                  use="required" />
                    <xs:attribute name="columnspan"
                                  type="xs:unsignedInt"
                                  use="optional" />
                    <xs:attribute name="rowspan"
                                  type="xs:unsignedInt"
                                  use="optional" />
                    <xs:attribute name="sticky"
                                  type="StickyType"
                                  use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="PackPlacement">
                <xs:complexType>
                    <xs:attribute name="anchor"
                                  type="xs:string"
                                  use="required" />
                </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:element name="Padding"
                    minOccurs="0"
                    maxOccurs="1">
            <xs:complexType>
                <xs:attribute name="ipadx"
                              type="xs:unsignedInt"
                              use="optional" />
                <xs:attribute name="ipady"
                              type="xs:unsignedInt"
                              use="optional" />
                <xs:attribute name="padx"
                              type="xs:unsignedInt"
                              use="optional" />
                <xs:attribute name="pady"
                              type="xs:unsignedInt"
                              use="optional" />
            </xs:complexType>
        </xs:element>
    </xs:sequence>
</xs:complexType>
<!-- Created with Liquid Studio 2019 (https://www.liquid-technologies.com) -->
<xs:complexType name="WidgetBasicType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:sequence>
        <xs:element name="widget_class"
                    type="xs:string"
                    minOccurs="1"
                    maxOccurs="1" />
        <xs:element ref="Configure"
                    minOccurs="0"
                    maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="name"
                  type="xs:string"
                  use="required" />
</xs:complexType>
</xs:schema>